header {
  width: 40%;
  margin: 50px auto;
}

#logo {
  width: 100%;
}

.container {
  width: 65%;
  margin: 0 auto;
}

#app-description {
  font-size: 14px;
  text-align: center;
}

form {
  color: #000;
  background: #E3EBFF;
  border-radius: 10px;
  width: 50%;
  margin: 40px auto;
  padding: 25px;
}

input {
  width: 175px;
}

.form-div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}



footer {
  color: #FFF;
  background: #E82E19;
  text-align: center;
  margin-top: 125px;
  padding: 15px;
}

footer a {
  color: #FFF;
  text-decoration: none;
}

.main-div {
  align-content: center;
  display: flex;
  justify-content: center;
}

.header-div {
  align-content: center;
  display: flex;
  justify-content: center;
}
