header {
  width: 40%;
  margin: 50px auto;
}

#logo {
  width: 100%;
}

.container {
  width: 65%;
  margin: 0 auto;
}

#app-description {
  font-size: 14px;
  text-align: center;
}

form {
  color: #000;
  background: #E3EBFF;
  width: 50%;
  margin: 40px auto;
  padding: 25px;
}

.form-div {
  display: flex;
  justify-content: space-between;
}



footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  align-content: center;
  display: flex;
  justify-content: center;
}

.main-div {
  align-content: center;
  display: flex;
  justify-content: center;
}

.header-div {
  align-content: center;
  display: flex;
  justify-content: center;
}
