#category-title {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

#hr-left, #hr-right {
    width: 45%;
    margin-top: 20px;
}

.inline {
    display: inline block;
}

hr {
    border-top: 1px solid #EFEFEF;
}

  