header {
    width: 30%;
    margin: 50px auto;
}

#logo {
    width: 100%;
}

.developers {
    text-align: left;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.developer {
    font-size: 14px;
    width: 15%;
    margin: 20px;

}

.social-media-links {
    display: flex;
    justify-content: flex-start;
}

.developer img {
    display: block;
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
}

/* Media Queries */
@media (max-width: 800px) {
    .developers {
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .developer {
        width: 80%;
        margin: 10px auto;
    }

}

