@media print {
    @page { 
        size: auto;  margin: 0mm; 
    }

    header {
        display: none;
    }
    
    header img {
        display: none;
    }

    .icon {
        display: none;
    }
    
    .container {
        width: 100%;
        margin: 1px auto;
    }
    
    h2, h3 {
        color: #000;
        text-align: center;
    }
    
    h3 {
        color: black;
    }
    
    .results-div {
        page-break-before: auto;
        color: #000;
        padding: 5px;
    }
    
    label span {
        margin-left: 0px;
    }
    
    label p {
        margin-left: 0px;
    }
    
    button {
        display: none;
    }
    #category-nav img {
        display: none;
    }

    footer {
        display: none;
    }

    form {
        display: none;
    }
}