header {
    height: 75px;
    padding: 10px 10px 0 10px;
    margin: 0 auto;
}

header img {
    height: 70px;
    position: relative;
    left: 43%;
    margin-top: 30px;
}

.container {
    width: 65%;
    margin: 50px auto;
}

#results-buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
}

h2, h3 {
    text-align: center;
}

h3 {
    color: #FF6347;
}

a:hover {
    background-color: #FF6347;
    border-radius: 15px;
}

#category-nav {
    display: flex;
    justify-content: center;
    /* background: #e3ebff; */
    width: 55%;
    margin: 0 auto;
}

#category-nav img {
    width: 50px;
    margin: 10px;
}

.results-div {
    color: #000;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.results-div:nth-of-type(odd) {
    background: #E3EBFF;
}

.results-div:nth-of-type(even) {
    background: #FFF;
}

.icon {
    width: 50px;
}

h3 {
    font-size: 22px;
    text-transform: uppercase;
}

label span {
    margin-left: 5px;
}

label p {
    margin-left: 25px;
}

#water-id {
    font-weight: 700;
    text-align: center;
}

#results-buttons div button {
    margin: 10px 0;
}

button {
    display: inline;
}

.submit-note {
    display: block;
}

form {
    display: flex;
    justify-content: center;
}

